html, body {
	box-sizing: border-box;
	width: 100%;
	padding: .8em 1em 0;
	background: rgba(147,128,108,.1);
	border-radius: 3px;
	height: auto;
	min-height: 24em;
	align-items: center;
	display: flex;
	justify-content: center;
}

#foosball {
	flex: none;
	background-color: #a5bd7b;
	outline: none;
}